header {
      border-top: 2px solid #4996eb;
      box-shadow: 0 0 4px 0 #666;
      position: fixed;
      height: 58px;
      width: 100%;
      top: 0;
      background: white;
      z-index: 1000;

    }

    .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px
    }

    body {
      margin: 0; padding: 0;
    }

    .menu {
      height: 58px;
      background: white;


    }

    .logoFrame {
      display: table;
      height: 58px;
      float: left;
      width: 44%;
    }

    .logo {
      background: white;
      display: table-cell;
      vertical-align: middle;
    }

    .logo a {
      text-decoration: none;
    }

    .logo img {
      width: 130px;
      float: left;
      margin-right: 10px;
    }

    .logo h2 {
      display: inline;
      font-size: 16px;
      color: #666;
    }

    .logo p {
      font-size: 12px;
      line-height: 20px;
      color: #4996eb;
      letter-spacing: 1.5px;
      font-style: oblique;
      font-weight: 600;
    }

    .menuItem {
      float: right;
      width: 56%;
      line-height: 58px;
      text-align: right;
    }

    .menuItem ul {
      display: inline;
    }

    .menuItem a {
      text-decoration: none;
      display: block;
      color: #666;
    }

    .menuItem li {
      display: inline-block;
      margin-left:5%;
      letter-spacing: 2px;
      font-size: 14px;
    }

    .menuItem a:hover {
      color: #4996eb;
    }






/* .mobile_logo {
  display: none;
} */

@media (min-width: 375px) and (max-width: 479.98px) {

  .container {
    width: 360px;
  }

  .logoFrame {
      width: 20%;
    }

    .logo h2 {
      display: none;
    }

    .logo p {
      display: none;
    }

    .logo img {
      width: 50px;
    }

    .menuItem {
      width: 80%;
    }

    .menuItem li {
      font-size: 12px;
      letter-spacing: 1px;
    }

}

@media (min-width: 480px) and (max-width: 575.98px) {

  .container {
    width: 460px;
  }

  .logoFrame {
      width: 20%;
    }

    .logo h2 {
      display: none;
    }

    .logo p {
      display: none;
    }

    .logo img {
      width: 80px;
    }

    .menuItem {
      width: 80%;
    }

    .menuItem li {
      font-size: 13px;
      letter-spacing: 1px;
    }

}


@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
      width:500px;
    }

    .logoFrame {
      width: 30%;
    }

    .logo h2 {
      display: none;
    }

    .logo p {
      display: none;
    }

    .menuItem {
      width: 70%;
    }

    .menuItem li {
      font-size: 13px;
    }

  }

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
      width:740px;
    }

    .logoFrame {
      width: 48%;
    }

    .menuItem {
      width: 52%;
    }


  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
      width:970px
    }

.logoFrame {
  width: 35%;
  margin-left: 5%;
}

.menuItem {
  width: 55%;
  margin-right: 5%;
}

  }



  @media (min-width: 1200px) {
    .container {
      width:1000px
    }
  }



