header {
  height: 80px;
}

#menu {
    height: 80px;
    border-top: 2px solid #00adff;
    background: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    font-family: "微軟正黑體"

}

.logoMenu {
    width: 100%;
    height: 80px;
    display: inline-block;
}

.logoFrame {
    width: 31%;
    height: 80px;
    float: left;
}

.logoText {
    height: 80px;
}

.logo img {
    float: left;
    width: 40%;
    margin-left: 23%;
    margin-top: 12px;
}

.slogan {
    float: right;
    width: 35%;
    line-height: 40px;
}

.slogan p {
    font-size: 15px;
    color: #00adff;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 13px;
    padding: 1px;
}

.slogan h2 {
    font-size: 18px;
    font-weight: bold;
    color: #2c2a2a;
}

.menu-item {
    float: right;
    width: 69%;
    text-align: right;
    height: 80px;
    line-height: 80px;
}

.menu-item ul{
  display: inline;
}

.menu-item ul {
  margin-right: 15%;
}

.menu-item li {
  display: inline-block;
  margin-right: 4%;
  letter-spacing: 1.5px;
}

.menu-item  a {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: black;
}

.menu-item li:hover {
color: #00adff;}

.landingPage img {
  width: 100%;
  height: auto;
}

.pearlcoPureWater {

}

.pearlcoFilterIntro {

}

.peralcoTasty {

}

.pearlcoBottle {

}

.pearlcoCertificate {

}

.pearlcoHealthy {

}
footer {
  margin: 20px auto 20px auto;
  height: 120px;
  background: white;
  width: 100%;
}

.container {
  width: 1024px;
  margin: 0 auto;
}


.contact-us {
  width: 40%;
  float: left;
  display: inline-block;
  line-height: 30px;
  color: #706864;
  letter-spacing: 2px;
  font-size: 80%;
}


.contact-us img {
  width: 40%;
}

.time {
  width: 100%;

}

.mail {
  background: #00BCD4;
  width: 57%;
  border-radius: 3px;
}

.mail a {
  text-decoration: none;
  color: white;
  margin: auto 27%;
  letter-spacing: 2px;
}

.aboutPearlco {
  width: 30%;
  float: left;
  display: inline-block;
  line-height: 30px;
  color: #706864;
  margin-left: 10%;

}

.aboutPearlco h2 {
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

.aboutPearlco a {
  text-decoration: none;
  color: #706864;
  font-size: 80%;
  letter-spacing: 1px;
}

.socialMedia {
  width: 20%;
  display: inline-block;
  line-height: 30px;
  color: #706864;
}

.socialMedia h4 {
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

.socialMedia a {
  text-decoration: none;
  color: #706864;
  font-size: 80%;
  letter-spacing: 1px;
}



/* .mobile_logo {
  display: none;
} */


@media (max-width:768px){
  .logo {
  width: 100%;
  display: block;
  text-align: center;
  left: 0;
  }
  .logo h2, .logo p{
  display: none;
  }
/*   .mobile_logo {
  display: block
  } */
}

body { margin: 0; padding: 0; }
img { display: block;  }

@media (max-width:480px) {

  #menu {
  height: 170px;
  border-top: 2px solid #00adff;
  background: white;
    }

    .logoFrame {
  width: 100%;
  height: 80px;
    }

    .logo img {
        width: 50%;
        display: block;
    }

    .slogan {
        display: none;
    }

    .menu-item {
        text-align: center;
        height: 90px;
        line-height: 80px;
        width: 100%
    }

    .menu-item ul {
        margin: 0 auto;
    }
}
