html {
  width: 1519.2px;
}

header {
  height: 80px;
}

#menu {
  height: 80px;
  border-top: 2px solid #00adff;
  background: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-family: "微軟正黑體";
  border-bottom: 1px inset #edeaea;
}

.logoMenu {
  width: 100%;
  height: 80px;
  display: inline-block;
}

.logoFrame {
  width: 40%;
  height: 80px;
  float: left;
}

.logoText {
  height: 80px;
}


.logo img {
  float: left;
  width: 30%;
  margin-left: 23%;
  margin-top: 12px;
}

.slogan {
  float: right;
  width: 35%;
  line-height: 40px;
  margin-right: 10%;
}

.slogan p {
  font-size: 15px;
  color: #00adff;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 13px;
  padding: 1px;
}

.slogan h2 {
  font-size: 18px;
  font-weight: bold;
  color: #2c2a2a;
}

.menu-item {
  float: right;
  width: 60%;
  text-align: right;
  height: 80px;
  line-height: 80px;
}

.menu-item ul{
  display: inline;
  margin-right: 15%;
}

.menu-item li {
display: inline-block;
    margin-right: 4%;
    letter-spacing: 2px;
    font-size: 14px;
    color: #727272;
}

.menu-item i {
  font-size: 18px;
}

.menu-item  a {
  text-decoration: none;
  color: black;
}

.menu-item li:hover {
  color: #00adff;}

.landingPage img {
  width: 100%;
  height: auto;
}

.pearlcoPureWater {
  text-align: center;
}

.pearlcoPureWaterText {
  position: relative;
  right: 27%;
  top: 196px;
}

.pearlcoPureWaterText h1 {
  font-size: 25px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
}


.pearlcoFilterIntro {
  text-align: center;
}

.pearlcoFilterTitle {
  position: relative;
  top: 100px;
}

.pearlcoFilterTitle h2 {
  font-size: 40px;
  color: #3d7bc0;
  letter-spacing: 1px;
  font-weight: bold;
}

.pearlcoTasty {
  text-align: center;
}

.pearlcoTastyTop {
  position: relative;
  top: 160px;
  line-height: 2;
}

.pearlcoTastyTop p{
  font-size: 40px;
  color: #3d7bc0;
  letter-spacing: 1px;
  font-weight: bold;
}

.pearlcoTastyTop h2 {
  font-size: 25px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
}

.pearlcoTastyBottom {
  position: relative;
  bottom: 110px;
  font-size: 25px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 30px;
}

.pearlcoBottle {

}

.pearlcoBottleText {
  text-align: center;
}

.bottleTitle {
  font-size: 40px;
  color: #3d7bc0;
  letter-spacing: 1px;
  font-weight: bold;
}

.bottleText {
  font-size: 25px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 2%;
  line-height: 30px;
}


.pearlcoCertificate {

}

.pearlcoCertificateText {
  text-align: center;
}

.certificateInfo {
  margin-top: 2%;
  line-height: 30px;
}

.pearlcoCertificateText p {

  font-size: 40px;
  color: #3d7bc0;
  letter-spacing: 1px;
  font-weight: bold;
}

.pearlcoCertificateText h2 {
  font-size: 25px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
}

.pearlcoHealthy {
}

.pearlcoHealthyText {
  text-align: center;
  line-height: 60px;
}

.pearlcoHealthyText p {
  font-size: 40px;
  color: #3d7bc0;
  letter-spacing: 1px;
  font-weight: bold;
}

.pearlcoHealthyText h2 {
  font-size: 25px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
}


footer {
  margin: 20px auto 20px auto;
  height: 120px;
  background: white;
  width: 100%;
}

.container {
  width: 1024px;
  margin: 0 auto;
}


.contact-us {
  width: 40%;
  float: left;
  display: inline-block;
  line-height: 30px;
  color: #706864;
  letter-spacing: 2px;
  font-size: 80%;
}


.contact-us img {
  width: 40%;
}

.time {
  width: 100%;

}

.mail {
  background: #00BCD4;
  width: 57%;
  border-radius: 3px;
}

.mail a {
  text-decoration: none;
  color: white;
  margin: auto 27%;
  letter-spacing: 2px;
}

.aboutPearlco {
  width: 30%;
  float: left;
  display: inline-block;
  line-height: 30px;
  color: #706864;
  margin-left: 10%;

}

.aboutPearlco h2 {
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

.aboutPearlco a {
  text-decoration: none;
  color: #706864;
  font-size: 80%;
  letter-spacing: 1px;
}

.socialMedia {
  width: 20%;
  display: inline-block;
  line-height: 30px;
  color: #706864;
}

.socialMedia h4 {
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

.socialMedia a {
  text-decoration: none;
  color: #706864;
  font-size: 80%;
  letter-spacing: 1px;
}



/* .mobile_logo {
  display: none;
} */


@media (max-width:768px){
  .logo img {
    margin-left: 20%;
    margin-top: 20px;
    width: 50%;
}

    .slogan {
      display: none;
    }

    .menu-item .brandStory {
      display: none;
    }

    .menu-item ul {
      margin-right: 5%;
    }

}

@media (max-width:480px) {


    .logo img {
    margin-left: 14%;
    margin-top: 28px;
    width: 70%;
}

    .slogan {
      display: none;
    }

    .menu-item .brandStory {
      display: none;
    }

    .menu-item ul {
      margin-right: 0;
    }

    .menu-item li {
      font-size: 11px;
    }

}

@media (max-width:1200px){
    .logo img {
      margin-top: 20px;

    }

    .slogan {
      line-height: 45px;
    }

    .slogan h2{
      font-size: 16px;
    }

    .slogan p {
      font-size: 13px;
    }
}

