.notification {
  height: 40px;
  width: 100%;
  border-top: 1px solid #eee;
  clear: both;
}

.notification i {
  font-size: 24px;
}

.follow {
  text-align: right;
  line-height: 40px;
  width: 60%;
  float: left;
  letter-spacing: 1px;
}


.follow i {
  margin-left: 10px;
}

.socialMedia {
  width: 40%;
  line-height: 43px;
  float: left;
  text-align: center;
  height: 40px;
}

.socialMedia li {
  display: inline;
  margin-right: 20px;
}

.socialMedia a {
  text-decoration: none;
}

.follow p {
  font-size: 18px;
  color: #666666;
}

.follow i {
  color:black;
}

.facebook i {
  color: #4267b2;
}

.instagram i {
  color: #db3565;
}

.contact-us i {
  color: #4996eb;
}

@media (min-width: 375px) and (max-width: 479.98px) {
.follow {
  width: 72%;
  text-align: left;
  margin-left: 2%;
  letter-spacing: 0px;
}

.follow p {
  font-size: 12px;
}

.socialMedia {
  width: 26%;
  text-align: right;
}

.socialMedia li {
  margin-right: 12px;
}

.notification i {
  font-size: 18px;
}
}

@media (min-width: 480px) and (max-width: 575.98px) {

.follow {
  width: 65%;
  text-align: left;
  margin-left: 5%;
}

.follow p {
  font-size: 12px;
}

.socialMedia {
  width: 30%;
}

.notification i {
  font-size: 26px;
}

}


@media (min-width: 576px) and (max-width: 767.98px) {

.follow {
  width: 65%;
  text-align: left;
  margin-left: 5%;
}

.follow p {
  font-size: 13px;
}

.socialMedia {
  width: 30%;
}

}

@media (min-width: 768px) and (max-width: 991.98px) {

.follow p {
  font-size: 14px;
}
}
