.content {
  background: #f2f2f259;
  margin-top: 58px;
}

.productsFrame {
  width: 1024px;
  margin: 0 auto;
}

.products {
  width: 100%;
}

.productsInfo {
  padding: 2%
}

.productsBorder {
  background: white;
}

.productsTitle {
  line-height: 50px;
  margin-left: 5%;
}

.productsTitle h1 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.productsList {
  overflow: hidden;
}

.productsList section {
  position: relative;
  text-align: center;
}

.productsList h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  color: black;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

.productsList img {
  width: 100%;
  height: auto;
}

.productsList section:hover {
  opacity: 0.8;
}


@media (min-width: 375px) and (max-width: 479.98px) {

  .productsTitle h1 {
    font-size: 13px;
  }

  .productsList h2 {
    font-size: 10px;
    left: 2%;
    letter-spacing: 1px;
  }

  .productsFrame {
      width:365px;
  }

}

@media (min-width: 480px) and (max-width: 575.98px) {

  .productsTitle h1 {
    font-size: 15px;
  }

  .productsList h2 {
    font-size: 12px;
    letter-spacing: 1px;
    left: 5%;
  }

  .productsFrame {
      width:470px;
  }

}

  @media (min-width: 576px) and (max-width: 767.98px) {

  .productsTitle h1 {
    font-size: 17px;
  }

  .productsList h2 {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .productsFrame {
      width:560px;
  }

}


  @media (min-width: 768px) and (max-width: 991.98px) {
  .productsList h2 {
    font-size: 20px;
  }

  .productsFrame {
      width:750px;
  }

}

  @media (min-width: 992px) {
    .productsFrame {
      width:970px
    }
  }

