body {
  background: #f2f2f259;
}

header {
  background: white;
}

.content {
  margin-top: 58px;
}

.introFrame {
  width: 1024px;
  margin: 20px auto 0 auto;
}

.introLeft {
  width: 50%;
  float: left;
}

.productInfo {
  padding: 3%;
}

.productBackground {
  background: #FFF;
  border-radius: 5px;
}

.product img {
  width: 100%;
}

.title {
  font-size: 20px;
  border-bottom: 1px solid #efede8;
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 3%;
  letter-spacing: 1.5px;
  color: #666666;
}

.introRight {
  width: 50%;
  float: right;
}

.priceInfo {
  padding: 3%
}

.priceBorder {
  border-radius: 5px;
  padding: 5px;
}

.features {
  padding: 5px 10px 5px;
  overflow: hidden;
  margin-top: 5%;

}

.features p {
  display: inline;
}

.features i {
  margin-right: 3px;
}

.bg-w {
  background: white;
}

.allPrice {
  display: inline;
  font-size: 18px;
  color: #666666;
  letter-spacing: 1.5px;
  line-height: 60px;
}

.allPrice p {
  display: inline-block;
  float: left;
  width: 40%;
  margin: 0 5% 0 3%;
}

.allPrice span {
  float: left;
}

.originalPrice {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

.originalPrice span {
  text-decoration: line-through;
}

.discount {
  border-bottom: 1px solid #eee;
  width: 80%;
  margin: 0 auto;
  clear: both;
}

.discount span {
  font-size: 22px;
  color: #f3c500;
  font-weight: bold;
}

.productSize {
  border-bottom: 1px solid #eee;
  width: 80%;
  margin: 0 auto;
  clear: both;
}

.buy-btn {
  background: #4996eb;
  width: 80%;
  margin: 5% auto;
  border-radius: 5px;
  clear: both;
  line-height: 40px;
  text-align: center;
}

.buy-btn:hover {
  opacity: 0.8;
}

.buy-btn a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  line-height: 40px;
  font-size: 16px;
  letter-spacing: 5px;
  height: 40px;
}

.features i {
  color: green;
}

.features ul {
  line-height: 40px;
  margin-left: 10px;
  letter-spacing: 1px;
}

.features li {
  letter-spacing: 1px;
}

.productImagesFrame {
  width: 1024px;
  margin: 0 auto;
}

.productEntire {
  width: 100%;
  float: left;
}

.productImagesInfo {
  padding: 1%;
}

.productImagesBorder {
  background: white;
  border-radius: 2px;
}

.productIntro {
  text-align: left;
  line-height: 30px;
  background: white;
}

.productIntro P {
  font-size: 14px;
  color: white;
  background: #4996eb;
  letter-spacing: 2px;
  border: 1px solid #4996eb;
  margin-right: 20px;
  border-radius: 3px;
  border-top-left-radius: 0;
  height: 30px;
  padding: 0 15px;
  display: inline-block;
}

.productImages {
  overflow: hidden;
}

.productImages img {
  width: 100%;
  height: auto;
}

@media (min-width: 375px) and (max-width: 479.98px) {

.introFrame {
  width: 365px;
}

.introLeft {
  width: 100%;
}

.introRight {
  width: 100%;
}

.features li {
  font-size: 12px;
}

.productImagesFrame {
  width: 365px;
}

}

@media (min-width: 480px) and (max-width: 575.98px) {

.introFrame {
  width: 470px;
}

.introLeft {
  width: 100%;
}

.introRight {
  width: 100%;
}

.productImagesFrame {
  width: 470px;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {

.introFrame {
  width: 560px;
}

.introLeft {
  width: 100%;
}

.introRight {
  width: 100%;
}

.productImagesFrame {
  width: 560px;
}

}

@media (min-width: 768px) and (max-width: 991.98px) {

.introFrame {
  width: 750px;
}

.introLeft {
  width: 100%;
}

.introRight {
  width: 100%;
}

.productImagesFrame {
  width: 750px;
}

}

@media (min-width: 992px) and (max-width: 1023.98px) {

.introFrame {
  width: 950px;
}

.productImagesFrame {
  width: 950px;
}

}
